<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create-bid</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <% var activePage = 'create-bid'; %> 
    <%- include('partials/navbar', { activePage: activePage }) %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 p-4">

                <a href="/active-tenders/<%= tenderId %>" class="btn btn-primary">Back</a>
                <h3></h3>
               
                <h3>Submit a Bid</h3>
                <form action="/create-bid/<%= tenderId %>/save" method="POST">
                    <div class="mb-3">
                        <label for="bidderName" class="form-label">Bidder Name</label>
                        <input type="text" class="form-control" id="bidderName" name="bidderName" required>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Bid Amount</label>
                        <input type="text" class="form-control" id="amount" name="amount" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Bid</button>
                </form>
                


        
<!--           
                id
                amount
                bidderName
                createdAt
                tenderId
                userId -->


              

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
