<style>
    .navbar-nav .nav-link {
        font-size: 20px;
    }
</style>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TenderOnline</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item <%= activePage === 'home' ? 'active' : '' %>">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item <%= activePage === 'active-tenders' ? 'active' : '' %>">
                <a class="nav-link" href="/active-tenders">Active Tenders</a>
            </li>
            <li class="nav-item <%= activePage === 'closed-tenders' ? 'active' : '' %>">
                <a class="nav-link" href="/closed-tenders">Closed Tenders</a>
            </li>
            <li class="nav-item <%= activePage === 'create-tender' ? 'active' : '' %>">
                <a class="nav-link" href="/create-tender">Create Tender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login-user">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 10 20">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                    </svg>
                </a>                     
            </li>


            <!-- <button type="button" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                </svg>
                <span class="visually-hidden">Button</span>
              </button> -->


        </ul>
    </div>
</nav>